.main-content {
    min-height: 100vh;
    background: linear-gradient(135deg, #1e40af 0%, #1f2937 100%);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
    padding: 2rem;
    box-sizing: border-box;
}

.left-part{
    width: 30%;
    height: 100%;
}

.center-part{
    width:40%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;

}

.center-part p {
    margin-top: 0;
    position: static;
}
.right-part{

    width: 30%;
    height: 100%;

}